<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <listeners>
        <listener class-name="iLab.framework.utilities.Listeners"></listener>
    </listeners>
    <test name="LoginStartTest">
        <classes>
            <class name="iLab.test.Testcase.JobApplicationForm"/>
            <class name="iLab.test.Testcase.JobApplicationFormFail"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->